<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <h1>Fabric Store Admin</h1>
        <nav>
            <a href="/admin-profile" th:text="${login}"></a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    <a href="/admin-add">Add Products</a>
                    <a href="/admin-view">View Products</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">Orders</a>
                <div class="dropdown-content">
                    <a href="/admin-pending">Confirm Orders</a>
                    <a href="/admin-process">Process Orders</a>
                    <a href="/admin-dispatch">Completed Orders</a>
                    <a href="/admin-cancel">Canceled Orders</a>
                </div>
            </div>
            <a href="/logout-admin">Logout</a></br>
        </nav>
        <p th:text="${message}"></p>
    </header>
    <main>
        <section>
            <article>
                <h2 class="h2-top">Add Product</b>
                <div class="add-product-div"><form th:action="@{/admin-add}" method="post" th:object="${product}">
                    <input class="input" type="text" th:field="*{name}" placeholder="Name"></br>
                    <input class="input" type="text" th:field="*{category}"  placeholder="Category"></br>
                    <input class="input" type="text" th:field="*{price}"  placeholder="Price"></br>
                    <input class="input" type="text" th:field="*{description}"  placeholder="Description"></br>
                    <input class="input" type="text" th:field="*{img}"  placeholder="Image url"></br>
                    <input class="btn" type="submit" value="Add">
                </form>
                </div>
                <p th:text="${addResult}"></p></br>
            </article>
            <article>
                <img class="img-login" src="/images/stacked_fabrics.jpg">
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Lily Sainte-Claire</p>
    </footer>
</body>

</html>