<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <h1>Fabric Store Admin</h1>
        <nav>
            <a href="/admin-profile" th:text="${login}"></a>
            <div class="dropdown">
                <a href="#" class="dropbtn">Categories</a>
                <div class="dropdown-content">
                    <a href="/admin-add">Add Products</a>
                    <a href="/admin-view">View Products</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">Orders</a>
                <div class="dropdown-content">
                    <a href="/admin-pending">Confirm Orders</a>
                    <a href="/admin-process">Process Orders</a>
                    <a href="/admin-dispatch">Completed Orders</a>
                    <a href="/admin-cancel">Canceled Orders</a>
                </div>
            </div>
            <a href="/logout-admin">Logout</a></br>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <h2 class="h2-top">Orders to confirm</h2>
                <div class="grid-order">
                    <div th:each="order : ${orders}">
                        <span th:text="${order.getName()}"></span>
                        <form action="/admin-pending-order" method="post">
                            <input type="hidden" name="id" th:value="${order.getId()}">
                            <button class="btn" type="submit"><p>View</p></button>
                        </form>
                    </div>
                </div>
                <p th:text="${message}"></p>
            </article>
            <article>
                <img class="img-login" src="/images/stacked_fabrics.jpg">
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Lily Sainte-Claire</p>
    </footer>
</body>

</html>