<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Web Shop</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <h1>Fabric Store Admin</h1>
        <nav>
            <a href="/login-admin">Login</a>
            <a href="/register-admin">Register</a>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <div class="login-container">
                    <h2>Register new account</h2>
                    <form th:action="@{/register-admin}" method="post" th:object="${employee}">
                        <input class="input" type="text" th:field="*{name}" placeholder="Name"></br>
                        <input class="input" type="email" th:field="*{email}" placeholder="Email"></br>
                        <input class="input" type="password" th:field="*{password}" placeholder="Password"></br>
                        <input class="btn" type="submit" value="Register">
                    </form>
                    <p th:text="${regcheck}"></p>
                    <a href="/admin">Back</a></br>
                </div>
            </article>
            <article>
                <img class="img-login" src="/images/stacked_fabrics.jpg">
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Lily Sainte-Claire</p>
    </footer>
</body>

</html>