body {
    text-align: center;
    color: #ff99da;
    background-image: url("/images/bg.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif
}

header {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    text-shadow: 1px 1px black;
    background-color: white;
    background-image: url("/images/bg-weave-white.png");
    background-position-y: -12px;
    width: 100%;
}

nav {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: block;
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 20px;
}

a {
    color: #ff99da;
    text-decoration: none !important;
}

a:visited {
    color: #ff99da;
}

a:hover {
    background-color: #ff99da;
    color: white;
    text-shadow: 1px 1px white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(236, 236, 236);
    min-width: 95px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: ff99da;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover,
.dropbtn:hover {
    background-color: #ff99da;
    color: white !important;
    text-shadow: 1px 1px white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    margin-top: 120px;
    color: white;
}

main a {
    color: white !important;
    text-decoration: none !important;
}

section {
    color: white;
}

article {
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}

h2 {
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

p {
    color: white;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

span {
    color: white;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

form {
    color: white;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.order-status {
    color: white;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.profile-list {
    text-align: left;
    margin-left: 40%;
    display: flex !important;
    flex-direction: column;
    text-shadow: 1px 1px rgb(0, 0, 0);
}
.profile-list span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.btn-update, .btn {
    background-color: transparent;
    color: #ffffff !important;
    margin-top: 5px;
    padding: 0px;
    border: none;
    font-size: medium;
}
.btn-update:hover, .btn:hover {
    background-color: #ff99da;
}

.hidden {
    display: none;
}

.input {
    border-radius: 5px;
    max-width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: none;
}

.input:focus {
    outline: 3px solid #ff99da !important;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px black;
    background-color: #eae7e5;
    background-position-y: -5px;
    width: 100%;
}

footer p {
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin-top: 0px;
    margin-bottom: 0px;
}