body {
    text-align: center;
    color: #a67a7a;
    background-color: #d7d3c8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    overflow-x: hidden;
}

header {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    text-shadow: 1px 1px black;
    background-color: white;
    background-image: url("/images/bg-weave-white.png");
    background-position-y: -12px;
    width: 100%;
    z-index: 999;
    outline: 3px solid #a67a7a !important;
}

nav {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: block;
    font-size: larger;
    margin-top: 0px;
    margin-bottom: 20px;
}

a {
    color: #a67a7a;
    text-decoration: none !important;
}

a:visited {
    color: #a67a7a;
}

a:hover {
    background-color: #a67a7a;
    color: white;
    border-radius: 5px;
    text-shadow: 1px 1px black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(236, 236, 236);
    min-width: 95px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown-link {
    color: #a67a7a;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover,
.dropbtn:hover,
.dropdown-content div a span:hover {
    background-color: #a67a7a;
    color: white !important;
    text-shadow: 1px 1px black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    margin-top: 104px;
    color: #a67a7a;
}

main a {
    color: #a67a7a !important;
    text-decoration: none !important;
}

section {
    color: #a67a7a;
}

.grid-product,
.grid-order {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    margin-bottom: 40px !important;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.search-flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px !important;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.quantity {
    background-color: #fcf8f0;
    border-radius: 5px;
    width: 35px;
    max-width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: none;
    text-align: right;
}

.article-mobile {
    display: none;
}

.h2-mobile {
    display: none;
}

.article-landing {
    z-index: 900;
    color: rgb(236, 236, 236);
}

.article-text {
    z-index: 900;
}

.img-index {
    position: relative;
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    outline: 3px solid #a67a7a !important;
}

.img-home {
    position: relative;
    width: 100vw;
    height: auto !important;
    max-height: 50vh;
    object-fit: cover;
    outline: 3px solid #a67a7a !important;
}

.img-index2 {
    position: relative;
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    outline: 3px solid #a67a7a !important;
}

.img-login {
    position: relative;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    outline: 3px solid #a67a7a !important;
}

.img-orders {
    position: relative;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    outline: 3px solid #a67a7a !important;
}


.article-index {
    padding-left: 20%;
    padding-right: 20%;
}

#article-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
}

.article-home {
    margin-top: 35vh;
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    min-width: 768px;
    z-index: 900;
}

.article-profile,
.article-order {
    margin-bottom: 25px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}

h2 {
    color: #a67a7a;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.h2-top {
    margin-top: 120px;
}

.login-container {
    background-color: inherit;
    margin-top: 120px;
    margin-bottom: 25px;
}

p {
    color: #a67a7a;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

span {
    color: #a67a7a;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.product-id {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form {
    color: #a67a7a;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.order-status {
    color: #a67a7a;
    font-size: large;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.profile-list {
    text-align: left;
    margin-left: 40%;
    display: flex !important;
    flex-direction: column;
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin-bottom: 25px;
}

.profile-list a:hover {
    color: white !important;
}

.profile-list span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.btn-update,
.btn, .btn p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: transparent;
    color: #a67a7a !important;
    height: 65%;
    width: auto;
    margin: 5px;
    padding: 0px;
    border: none;
}
.btn {
    margin: 0 !important;
}

.btn-image {
    padding: 0px;
    border: none;
    margin-bottom: -14px;
    background-color: transparent;
}
.btn-image:hover img {
    margin: auto;
    background-color: #a67a7a;
    border-radius: 10px;
}

.btn-text {
    font-size: larger;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: larger;
}

.btn-update:hover,
.btn:hover, .btn:hover p {
    background-color: #a67a7a;
    border-radius: 5px;
    color: white !important;
    cursor: pointer;
}

.confirmed-order {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.input {
    background-color: #fcf8f0;
    border-radius: 5px;
    max-width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: none;
}

.input:focus {
    outline: 3px solid #a67a7a !important;
}

::placeholder {
    color: #a67a7a;
}

.product-image {
    width: 80vw;
    border: 2px solid black;
}

.product-image-small {
    width: 20vw;
    padding: 10px;
    margin: 0;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px black;
    background-color: #eae7e5;
    background-position-y: -5px;
    width: 100%;
    outline: 3px solid #a67a7a !important;
}

footer p {
    font-size: large;
    color: black;
    text-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media all and (max-width: 600px) and (orientation: portrait) {
    .article-mobile {
        display: block;
        margin-right: 0%;
        margin-left: 0%;
        width: 100%;
    }

    .article-desk {
        display: none;

    }

    .article-home-mobile {
        margin-top: 35vh;
        color: #a67a7a;
        padding-left: 2%;
        padding-right: 2%;
        margin-right: 0% !important;
        margin-left: 0% !important;
        margin-top: 0% !important;
    }

    .article-landing-mobile {
        color: #a67a7a !important;
    }

    .article-index {
        padding-left: 0% !important;
        padding-right: 0% !important;
    }


    .img-home-mobile {
        height: 25vh;
        width: 100%;
        margin-right: 0%;
    }

    .product-image-small {
        width: 25vw;
        padding: 5px;
        margin: 0;
    }

    .h2-mobile {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .h2-desk {
        display: none;
    }

    .grid-product,
    .grid-order {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        margin-bottom: 40px !important;
        margin-left: 0%;
        margin-right: 0%;
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    p {
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: justify;
    }

    .center-text {
        text-align: center !important;
    }

    h2 {
        margin-left: 0;
        margin-right: 0;
    }

    span {
        margin: 0 !important;
    }

    footer p {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        text-align: center;
    }
}