<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabric Store</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <h1>Fabric Store</h1>
        <nav>
            <a th:text="${login}"></a>
            <a href="/cart">Cart</a>
            <a href="/category">Categories</a>
            <a href="/search">Search</a>
            <a href="/orders">Orders</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <main>
        <h2>Cart:</h2>
        <div th:if="${#lists.isEmpty(items)}">
            <p>Cart is empty</p>
        </div>
        <div th:each="item : ${items}">
            <span th:text="${item.getCount()}"></span>
            <span th:text="${item.getProduct().getName()}"></span>
            <span th:text="${item.getProduct().getCategory()}"></span>
            <span th:text="${item.getProduct().getPrice()}"></span>
            <form action="/update-cart" method="post">
                <input type="hidden" name="name" th:value="${item.getProduct().getName()}">
                Quantity: <input type="number" name="count" th:value="${item.getCount()}">
                <input type="submit" value="Update">
            </form>
        </div>
        <p th:text="${total}"></p>
        <div th:if="${emptycart} == false">
            <form action="/clear-cart" method="get">
                <input type="submit" value="Empty">
            </form>
            <form action="/checkout" method="post">
                <input type="submit" value="Checkout">
            </form>
        </div>
        <p th:text="${order}"></p>
    </main>
    <footer>
        <p>&copy; 2025 Lily Sainte-Claire</p>
    </footer>
</body>

</html>