<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fabric Store</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<header>
		<h1>Fabric Store</h1>
		<nav>
			<a href="/home">Home</a>
			<a href="/profile" th:text="${login}"></a>
			<a href="/cart">Cart</a>
			<div class="dropdown">
				<a href="#" class="dropbtn">Categories</a>
				<div class="dropdown-content">
					<a href="/category">All</a>
					<div th:each="category : ${categories}">
						<a th:href="@{'/category/' + ${category}}"><span class="dropdown-link" th:text="${category}"></span></a>
					</div>
				</div>
			</div>
			<a href="/search">Search</a>
			<a href="/orders">Orders</a>
			<a href="/logout">Logout</a>
		</nav>
		<p th:text="${message}"></p>
	</header>
	<main>
		<section>
			<article>
				<h2 class="h2-top">Your trusted source for fabrics and threads</h2>
			</article>
			<article><img class=".img-home" src="/images/thread_spools.jpg">
				<div id="article-home"><p class="article-text">
						Step into a world of colour, texture, and endless possibility! Our store is filled with
						carefully
						chosen woven
						fabrics and vibrant threads, perfect for anyone who loves to create. Whether you’re a seasoned
						maker
						or just
						beginning your sewing journey, you’ll find materials here that spark your imagination and bring
						your
						projects
						to life.
						<br><br>
						Every fabric we offer is selected for its quality and feel, and every spool of thread is chosen
						to
						make stitching
						smoother, brighter, and more enjoyable. From soft cottons to richly textured weaves, our
						collection
						is designed to
						inspire and support you through every step of your creative process.
						<br><br>
						Whether you’re designing a new outfit, piecing together a quilt, or adding handmade touches to
						your
						home, we’re here
						to provide the tools and inspiration you need. Explore our shelves, find your favourites, and
						let
						your creativity
						unfold—one stitch at a time.
						<br><br>
						Welcome, and happy creating!
					</p>
				</div>
			</article>
			<article>
				<h2>Fabrics that inspire, threads that connect</h2>
				<img class="img-index" src="/images/fabric_stacks.jpg">
			</article>
		</section>
	</main>
	<footer>
		<p>&copy; 2025 Lily Sainte-Claire</p>
	</footer>
</body>

</html>